@{
    ViewBag.Title = "Documents";
}
<br />
<br />

<div class = "DocumentContent">
   <a href= "../../Content/Documents/Bylaws.pdf">By Laws </br> in Pdf</a>

</div>
<div id="DocumentDetail">
BY LAWS
</div>



<div id="DocumentRest">


Article I </br>
</br>
NAME AND PRINCIPAL OFFICE </br>
</br>
 </br>
The name of this organization is NEPALESE ASSOCIATION OF UTAH.</br>
 </br>
Article II</br>
OBJECTIVE</br>
 </br>
The mission of the corporation shall be to help foster Nepali culture and provide a development forum for Nepali Diasporas and friends of Nepal in the US.</br>
 </br>
Article III</br>
PRINCIPAL ACTIVITIES</br>
 </br>
 </br>
    Celebrate Nepali cultural activities in the U.S.</br>
    Help foster Nepali language, art and culture in the U.S</br>
    Provide support for individuals and organizations to promote Nepal's cause</br>
    Help raise fund for charitable cause in the U.S. and in Nepal</br>
    Coordinate with both Nepali Associations as well as other relevant organizations for the purpose of fulfilling its objectives.</br>
    </br>
 </br>
Article IV</br>
MEMBERSHIP AND DUES</br>
</br>
    Application for Membership </br>
    </br>
Any individual eighteen years of age or above shall be eligible to apply for membership. Membership may be obtained by completing the corporation's application for membership and paying the necessary dues as defined in Article IV(2c). </br>
</br>
    Types of Membership</br>
    </br>
 </br>
 </br>
There shall be two basic types of membership which is defined as follows: </br>
</br>
    Honorary Membership: Honorary membership will be given to distinguished individual deemed appropriate and decided by the majority of the Board</br>
    Regular Membership: Any one who believes in mission of NAU and pays his her due can be a regular member of NAUT.</br>
    </br>
 </br>
 </br>
Regular memberships may be subdivided into family, single/student, and life membership classes. Family membership shall mean the primary member, his/her spouse, and children under the age of eighteen. Family membership applicants shall designate the primary member at the time of application.</br>
 </br>
    For both types of basic membership, dues shall be payable as follows:</br>
    </br>
        Family Membership - $35.00 annually.</br>
        Single/Student Membership - $20.00 annually.</br>
        eLife Membership - $250.00 one time.</br>
        </br>
 </br>
 </br>
    Duration of the membership will be based on the calendar year (Jan-Dec).</br>
    The corporation may also introduce institutional or corporate membership categories as needed.</br>
    Responsibilities of the members</br>
    </br>
        All members shall participate in the affairs of the corporation. Participation shall be on a voluntary basis.</br>
        All members shall abide by the provisions of the Bylaws of the corporation.</br>
        All members shall agree to conduct themselves in accordance with prevailing socially accepted civic norms and conventions, and exemplary moral and ethical standards.</br>
        All members shall have joint and individual responsibility to not to bring to disrepute the name of the corporation or diminish its community standing in any way whatsoever.</br>
 </br>
 </br>
    Rights of the members</br>
    </br>
        All members shall have the right to participate in the affairs of the corporation freely and non-discriminatorily.</br>
        Notwithstanding provision (6a), only Regular Members from Nepalese origin shall have the right to run for elected office.</br>
        Voting by proxy shall be allowed by this section</br>
        All members shall be treated with dignity, respect, and civic courtesy commensurate with that normally accorded to other individuals in the community.</br>
</br>
 </br>
</br>
    Resignation of Membership Any member may resign his/her membership by submitting a notice of resignation in writing to the Executive Committee. Membership dues already by the corporation shall not be refundable.</br>
</br>
 </br>
</br>
    Termination of Membership</br>
</br>
 </br>
</br>
Membership may be terminated by the Executive Committee upon demonstration of sufficient cause. Membership dues already received by the corporation shall not be refundable.</br>
 </br>
 </br>
</br>
Article V</br>
</br>
EXECUTIVE COMMITTEE</br>
 </br>
The governing committee of the corporation shall be designated as the Executive Committee. Hereinafter, the Executive Committee is cited as the Committee. </br>
</br>
                Composition of the Committee</br>
                The Executive Committee shall consist of a total of eleven members as listed below:</br>
</br>
    President</br>
    Vice-President</br>
    General Secretary</br>
    Treasurer</br>
    Public Relationship Officer</br>
    Executive Members (6)</br>
</br>
 </br>
</br>
The President, Vice-President, Secretary, Treasurer and Public Relationship Officer shall be known as the officeholders of the corporation. The six other members shall be referred to as the Executive Members.</br>
</br>
 </br>
</br>
                Election of the Committee</br>
                Committee Members shall be elected at the annual General Meeting of the membership of the corporation. Any vacant position after the annual General Meeting shall be filled by appointment by the remaining members of the Committee. All Committee Members shall serve without compensation for the period he/she is eligible for re-election to the position previously held or a new position. Election shall be held every two years.</br>
</br>
 </br>
</br>
                Responsibilities of the Committee</br>
</br>
 </br>
</br>
    The Committee shall be responsible for promoting the aims and objectives of the corporation.</br>
    The Committee shall hold the annual General Meeting.</br>
    The Committee shall hold the executive meeting at least once every three months. Then majority executive members on need basis can call upon other executive committee meetings.</br>
    The Committee shall formulate the annual budget by the majority vote.</br>
    The Committee shall develop various policies and programs of the corporation.</br>
    The Committee shall implement all such policies and programs of the corporation.</br>
    The Committee shall transact the day-to-day affairs of the corporation.</br>
    The Committee shall constitute the Election Committee.</br>
    The Committee shall be responsible for conducting any other activities as authorized by the Bylaws elsewhere.</br>
    The Committee shall be responsible for formulating all the working rules and regulations of the corporation.</br>
</br>
 </br>
</br>
                Authorities of the Committee</br>
</br>
    The Committee shall have the authority to act on behalf of the corporation as required to promote the aims and objectives of the corporation.</br>
    The Committee shall have the requisite authority to carry out all of its responsibilities as enumerated under Article V (3).</br>
    The Committee shall have the authority to form, appoint members, operate, and dissolve OTHER COMMITTEES. (Refer to Article VI for the meaning of OTHER COMMITTEES).</br>
</br>
 </br>
</br>
                Operations of the Committee</br>
</br>
    All decisions made by the Committee at any of its meetings shall be by Majority voting of the members at which two third members are present.</br>
    Notwithstanding Article V (5a), the formation of the Election Committee shall be by unanimous consent of all the Committee members.</br>
</br>
 </br>
</br>
                Responsibilities of the Officeholders and Members</br>
</br>
 </br>
</br>
    The President shall preside over all meetings of the corporation and of the Committee, and shall lead, direct, and supervise various affairs of the corporation. The President shall present the annual progress report and the budget of the corporation at the General Meeting.</br>
    The Vice-President shall assist and advise the President in leading, directing, and supervising various affairs of the corporation. The Vice President shall perform the duties of the President in his/her absence, and other duties as decided by the Committee.</br>
    The Secretary shall be responsible for calling the General Meetings, and the Committee meetings of the corporation. The secretary shall maintain all records or minutes of all such meetings, and make them available for examination upon request by any member of the corporation. The Secretary shall be responsible for communicating the Committee decisions. The Secretary shall perform various other tasks as assigned by the Committee.</br>
    The Treasurer shall be responsible for all financial matters of the corporation as authorized by the Committee. The Treasurer shall maintain a record of all money received and disbursed by the corporation, and shall prepare any other financial report as directed by the Committee. The treasurer shall maintain an up-to-date roster of the membership of the corporation.</br>
    The Public Relationship Officer (PR Officer) shall make sure that everyone in the organizations understands the organization’s objective. The PR Officer will develop and implement communication strategies and write, edit and arrange production of newsletters, pamphlets, quarterly-bulletins and press release. He will also assist in preparing speeches and organizational document.</br>
    The Members shall be responsible generally and individually for carrying out the responsibilities of the Committee as enumerated in Article V(3).</br>
</br>
 </br>
</br>
                Authorities of the Officeholders and Members</br>
</br>
    The President shall have the authority to act on behalf of the corporation as required to promote the aims and objectives of the corporation. The President shall have the requisite authority to carry out all of his/her responsibilities as enumerated under Article V(6a) .</br>
    The Vice-President shall assume the power of the President in the latter’s absence. The Vice-President shall have the requisite authority to carry out all of his/her responsibilities as enumerated under Article V(6b) .</br>
    The Secretary shall have the requisite authority to carry out all of his/her responsibilities as enumerated under Article V(6c).</br>
    The Treasurer shall have the requisite authority to carry out all of his/her responsibilities as enumerated under Article V(6d).</br>
    The Members shall have the requisite authority to carry out all of his/her responsibilities as enumerated under Article V(6e).</br>
</br>
 </br>
</br>
                Removal of Members</br>
</br>
    Any member of the Committee may be removed by the majority members, if he or she fails to attend three executive meetings without sufficient cause.</br>
</br>
 </br>
Article VI</br>
OTHER COMMITTEES</br>
Other committees necessary for the proper functioning of the corporation may be brought into force and operated by the Committee as and when needed. All such committees shall be governed by the working rules and regulations of the corporation.</br>
 </br>
Article VII</br>
FISCAL YEAR</br>
The fiscal year of the corporation shall begin on January first and end December thirty-first in each year.</br>
 </br>
</br>
Article VIII</br>
</br>
MEETINGS</br>
1. General Meeting: The General Meeting of the members of the corporation shall be held annually at a location selected by Committee. The purpose of the General Meeting shall be to elect Committee members, discuss and ratify amended by laws and any other matters concerning the corporation as proposed by the member(s) of the corporation. The Committee shall notify all members of the General Meeting at least six weeks prior to meeting date. Any decision made at the General Meeting to be binding shall have been made by a majority vote. All such decisions shall be effective immediately. A quorum of the general membership shall be defined as one-third (1/3) the total member of voting members in good standing with the corporation.</br>
 </br>
</br>
Article IX</br>
</br>
ELECTIONS</br>
</br>
        The Executive Committee shall appoint a three (3) member Election Committee at least three (3) month prior to the election meeting of the corporation. Appointments to such a committee shall be subject to the consent of the consent of the members appointed. The chairpersonship of this committee shall be decided by common consensus among the three members. The purpose of this committee shall be to call and conduct the general elections of the corporation in a fair, and impartial manner failing which complaints may be directed to the Committee for appropriate redress. The Election Committee shall call for candidacy for each position of the Committee (refer to Article V). Any regular member may file his/her candidacy papers with the Election Committee as per the guidelines laid down by the Election Committee. The committee shall provide all necessary election materials, count the election ballots, and declare the election results.</br>
        All votes shall be cast by secret ballot and candidates shall be elected based on the number of votes received. Regular Members may opt to vote by mail and/ or through their proxies.</br>
</br>
 </br>
</br>
Article X</br>
</br>
SALE OF ASSETS, DISSOLUTION, AND LIQUIDATION</br>
</br>
        Sale of Assets:</br>
</br>
The Committee shall have the authority to sell any surplus assets of the corporation. Proceeds from such sales shall be deposited in the general fund of the corporation and be used solely for the functioning of the corporation.</br>
</br>
        Dissolution</br>
</br>
If necessary, the corporation may be dissolved with consent of at least two-third of at least two-third of the regular members. If so dissolved, all such matters as arising upon the decision of dissolution shall be done in accordance with Article X (3) below. The Committee shall remain in force until all matters regarding dissolution are resolved.</br>
</br>
        Liquidation</br>
</br>
In the event of a dissolution, all of the remaining assets and property of the corporation shall, after necessary expenses thereof, be distributed to such organizations as shall qualify under Section 501 (c) (3) of the Internal Revenue Code of 1954, as amended, or, to another organization to be used in such manner as in the judgment of a Justice of the Supreme Court of the State of Utah will best accomplish the general purposes for which corporation was formed. In the event of dissolution, no member shall have any claim whatsoever on the corporation.</br>
 </br>
</br>
Article XI</br>
</br>
Not-Profit Status</br>
The organization is organized exclusively for charitable, religious, education, and/or scientific purposes under section 501 (c) (3) of the Internal revenue Code. No substantial part of the activities of the organization shall participate in, or intervene in (including the publishing or distribution of statements) any political campaign on behalf of any candidate for public office. Not withstanding any other provision of this document, the organization shall not carry on any other activities not permitted to be carried on (a) by an organization exempt from federal income tax under section 501 (c) (3) of the Internal Revenue Code, or corresponding section of any future federal tax code, or (b) by an organization, contributions to which are deductible under section 170 (c) (2) of the Internal Revenue Code, or corresponding section of any future federal tax code.</br>
 </br>
</br>
Article XII</br>
</br>
NON-PARTICIPATION IN POLITICAL ACTIVITIES</br>
No part of the activities of the corporation shall be for carrying of propaganda, or otherwise attempting to influence legislation (except as otherwise provided by Internal Revenue Code Section 501(h)), or participating in, or intervening in (including the publication or distribution of statements) any political campaign on behalf of any candidate for public office.</br>
 </br>
</br>
ARTICLE XIII</br>
</br>
AMENDMENTS</br>
</br>
        Amendments to the Bylaws may be requested in writing by any regular member to the Committee. The Committee shall discuss all such requests and table only those deemed appropriate for a vote at the general or special meetings. Tabled amendments shall be considered adopted and incorporated into the Bylaws with immediate effect upon approval by majority of the voters</br>
        Amendments so made shall be published in the Newsletter of the corporations.</br>
</br>
 </br>
 </br>
</br>
WRITTEN CONSENT OF DIRECTORS ADOPTING BYLAWS</br>
 </br>
</br>
We, the undersigned, are all of the persons named as the initial directors in the Articles of Incorporation of NEPALESE ASSOCIATION OF UTAH, an Utah nonprofit corporation, and, pursuant to the authority granted to the directors by these Bylaws to take action by unanimous written consent without a meeting, consent to, and hereby do, adopt the foregoing Bylaws, consisting of 8 pages, as the Bylaws of this corporation. Dated: June 8, 2009.</br>
</br>
 

</div>


