@{
    ViewBag.Title = "About";
}
<br />
<br />
<div class = "Content">
    Nepalese Asociation of Utah (NAUT) is a non political and non profit organization aiming in promoting Nepalese culture and unifying Nepalese away from home.
    Cultural events are organized every year to promoting Nepalese culture and showcasing upcoming talents. 
    The organization also takes active involvement in the socio economic, cultural and academic development of Nepal. 
    Please browse the website to remain updated with the curriculum and upcoming events.
</div>

<script type="text">
    $(document).ready(function () {

        ('.About').addclass('NAUTMenuSelected');
 
    });
</script>