@{
    ViewBag.Title = "Directory";
}
<br />
<br />
<div class = "Content">
    This is a Directory Page !!
</div>

<script type="text">
    $(document).ready(function () {

        ('.About').addclass('NAUTMenuSelected');
 
    });
</script>