.Content
{
    color:White;
    font-family:Tahoma;
    font-size:100%; 
}




.EventsContent
{
    color:White;
    font-family:Georgia;
    font-size:28px;
    text-align:center;
    margin-top:200px;
    margin-bottom:200px;
   
    
   
}

.NAUTMenu
{
    list-style:none;
    width:100%;
}


.NAUTMenu li
{
    float:left;
    background:#2e2e2e;/*#454545;*/
    padding:10px 0px 10px 0px;
}

.NAUTMenu li a
{
    text-decoration :none; 
    padding:10px 30px 10px 30px;
    cursor:pointer; 
    font-weight:normal;
    color:white;
    font-family:Verdana;
    font-size:15px;
}

.NAUTMenu li a:hover
{
    text-decoration :none;  
    
}

.NAUTMenu li:hover
{
    background:#810000;
    border-top:2px solid #810000;
    border-bottom:2px solid white;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}

.NAUTMenuSelected
{
    list-style:none;
    width:100%;
}

.NAUTMenuSelected li
{
    float:left;
    background:#ba0000;
    padding:10px 0px 10px 0px;
    
}

.NAUTMenuSelected li a
{
    text-decoration :none; 
    padding:10px 30px 10px 30px;
    cursor:pointer; 
    font-weight:bold;
    color:white;
}

.NAUTMenuSelected li a:hover
{
    text-decoration :none;  
}

.NAUTMenuSelected li:hover
{
    background:#bfbfbf;
}


.Sponsors
{
    padding:5px 0px 0px 0px;
    cursor:pointer;
    opacity:.75;
    float:left;
}

.Sponsors:hover
{
    opacity:1;
}

.NewsFeed
{
    background-color:Black;
    border:1px solid White;
    padding:5px 5px 5px 5px;
    color:white;
}

.DocumentContent
{
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-size:14px;
    margin-top:5px;
    margin-left:10px;
   /* margin-right:75%;*/
    float:left;
}
/* # for dic id*/
#DocumentDetail
{
    background:White;
    font-size:32px;
    text-align:center;
    color:#E60000;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin:0px 5px 0px 5px;
}

#DocumentRest
{
    font-size:16px;
    text-align:center;
    test-indent:20px;
    color:Black;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    background:White;
    border:1px dotted grey;
    margin:5PX 5PX 5PX 5PX;
}

#AboutDetail
{
    font-size:28px;
    text-align:center;
    color:#A30000;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin:0px 5px 0px 5px; 
}


.AboutContent
{
    color:White;
    border:2px double #3A3A32;
    text-indent:20px;
    text-align:center;
    margin:5px 10px 5px 25%;
    
}

.AboutLeft
{
    float:left;
    
}
